@{

    ViewBag.Title = "Index";   
}

@section JsAdicional {
    @*@Scripts.Render("~/Views/Home/home.estatisticas.js")*@
}
<div class="row">
   
    <div class="col-xs-12">

            <div class="panel panel-default painel">
                <div class="panel-heading" style="text-align:center">Notificações</div>
                <div class="panel-body col-xs-12">
                </div>
            </div>                    
    </div>
</div>