@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_LayoutPesquisa.cshtml";
    ViewBag.Pesquisa = "Meus Repositórios";
}

@section JsAdicional {
    @Scripts.Render("~/Views/MeuRepositorio/indexRepositorio.js")
}
@section Pesquisa{

    <div class="row" style="margin-top:3%">
        <div class="col-xs-12 col-md-12 col-sm-12">

            <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="datatable-meu-repositorio">
                <thead>

                    <tr>
                        <th class="text-center">Código</th>
                        <th class="text-center">Proprietário</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Linguagem</th>
                        <th class="text-center">Atualização</th>
                        <th class="text-center">URL</th>
                    </tr>
                </thead>                
            </table>
        </div>
    </div>
}